# Flask Configuration
FLASK_APP=run.py
FLASK_ENV=development
SECRET_KEY=sjfhkbseghbeihgkbershgbhibtgsuerofnrueogne
CLIENT_URL=http://localhost:5173

# Database Configuration
DATABASE_URL=postgresql://postgres.zdqnvfafdobahixrjveg:anshu-18092006@aws-1-ap-northeast-2.pooler.supabase.com:5432/postgres

# Supabase Configuration (Placeholder for future auth/storage)
SUPABASE_URL=https://zdqnvfafdobahixrjveg.supabase.co
SUPABASE_JWT_SECRET=4ecda094-4682-415c-b0a0-49853c5728a9
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InpkcW52ZmFmZG9iYWhpeHJqdmVnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODM2ODYyMTIsImV4cCI6MjA5OTI2MjIxMn0.PN1tHxMrazQzn98-EBqZA1NTA_s59u9pzPyeVYhEJMg